DB_HOST=localhost
DB_NAME=moreseen
DB_USER=root
DB_PASSWORD=

TMDB_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/moreseen/controllers/GoogleAuthController.php

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=